/* reset  */
*{margin: 0;padding: 0;box-sizing:border-box ;}
li{list-style: none;}
a:link,a:visited{color: black;text-decoration: none;}


body{
   font-size:12px;
   font-family: "Noto Sans KR", serif;
   background-color: #eee;
}

header.wrapper{
    /* background-color: pink; */
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    justify-content:space-between
}

.menu > ul{
    display: flex;
    font-size: 16px;
    gap:30px
}

.menu > ul > li{
    /* background-color: yellow; */
    
}

.menu > ul > li > a{
    display: block;
    padding: 10px;
    /* background-color: pink; */
}

.logo > a > img{height: 27px;}

h1.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}
.util{
    display: flex;
    justify-content: start;
    align-items: center;
}

.visual{
    background-color: #02d7ff;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1200px;
    margin: 0 auto;

}

.container h2{text-align: center;margin-bottom: 10px;}
.container .h2_desc{text-align: center;}


.content{
    display: flex;
    justify-content: space-between;
}

.content li{
    width: 380px;
    background-color: white;
    border-radius: 18px;
    box-shadow:10px 10px 20px #bbb ;

}

.content li a{
    display: block;
    padding: 24px;
}

.content .circle{
    width: 10px;height: 10px;background-color: red;
    border-radius: 5px;
}


/* common  */
h2{font-size: 32px;}
h3{font-size: 26px;letter-spacing: -0.6px;line-height: 1.4;}
h4{font-size: 36px;}
.h2_desc{font-size: 18px;}
.h3_more{font-size: 16px;}

/* padding * < tag < class < id < inline style < !important  */
.py20{padding: 20px 0 !important;}
.py30{padding: 30px 0 !important;}
.py40{padding: 40px 0 !important;}

.mb20{margin-bottom: 20px !important;}
.mb40{margin-bottom: 40px !important;}
.mb50{margin-bottom: 50px !important;}