@charset "utf-8";

.service .imgWrap {
  width: 120px;
  height: 120px;
  background-image: url(../images/icon_main01_fix.png);
}

.bg-gray {
  background-color: #cdcdcd;
}
.bg-whitegray {
  background-color: #eaeaea;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
